
p{
    font-size: 18px;
    text-align: justify;
}
u{
    text-decoration-color: rgb(255, 191, 0);
    text-decoration-thickness: 2px; /* Ajusta el grosor si deseas */
    text-underline-offset: 5px; /* Ajusta la distancia del subrayado */
}

.card-text {
    font-size: 16px;
    text-align: center;
}

.text-muted{
    font-size: 10px;
    text-align: center;
}

h3{
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    line-height: 1.181;
    margin: 0 0 5px;
}


#titulo_peces_intro{
    margin-top: 10px;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 45px;
    
}
#titulo_peces{
    font-size: 24;
    margin-bottom: 25px;
}
#text_galeria_imagenes{
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-align: center;
}